.calendrier{
    display: inline-flex;
    flex-wrap: wrap;
    width:240px;
    margin:10px;

}


.jour.janvier{
    border:solid 1px;
    width : 30px;
}

.jour.fevrier{
    border:solid 1px;
    width : 30px;
}