
*{margin:0;}



#myHeader.header {
  padding: 10px 16px;
  /* background: #555; */
  color: #f1f1f1;
  display:flex;
  top:0px;
  position: sticky;
  
  background-color:#7c6672 ;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  font-weight: bold;
  font-size: large;
  letter-spacing: .2em;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 102px; */