
*{margin:0;}



#myHeader.header {
  padding: 10px 16px;
  /* background: #555; */
  color: #f1f1f1;
  display:flex;
  top:0px;
  position: sticky;
  
  background-color:#7c6672 ;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: large; 

  text-align:right; /*Axe principal */
  align-items: center; /*Axe secondaire */
 
}
.logo{
 /* letter-spacing: .8em; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:x-large;
}
.item{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 102px; */