
*{
    margin:0;
    padding:0;
}
body{
    margin:15px;
    max-width: 21cm;
}
ul{
    margin-left: 3em;
}

.red{
    color:red;
}
.blue{
    color:rgb(0, 0, 216);
}

.gras{
    font-weight: 900;
}

@media screen  and ( max-width: 500px) {
    
    body{
        margin:5px;
    }
    ul{
        margin-left: 1.5em;
    }
}

@media print {
    a{
        text-decoration: none;
        font-style: italic;
    }
    a::after{
        display: block;
        content: " (" attr(href) ") ";
      }
}