
*{
    margin:0;
    padding:0;
}

@media screen  and ( max-width: 600px) {
    
    body{
        margin:5px;
    }
    ul{
        margin-left: 1.5em;
    }
}

@media print {
    a{
        text-decoration: none;
        font-style: italic;
    }
    a::after{
        display: block;
        content: " (" attr(href) ") ";
      }
}